<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Set the "value" here to the folder you will be using for your local Nuget cache. -->
    <add key="globalPackagesFolder" value="LocalNugetCache" />
  </config>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="local runtime" value="/tank/externsrc/dotnet/runtime/artifacts/packages/Release/Shipping" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
